* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.heading {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  font-size: xx-large;
  margin: 1.6rem;
}

#slide-1 h2 {
  transform: translateY(-100vh);
  animation: head 2s forwards ease-in;
}

@keyframes head {
  to {
    transform: translateY(0);
  }
}
#slide-1 p {
  transform: translateX(-100vh);
  animation: para 2s forwards ease-in;
}

@keyframes para {
  to {
    transform: translateY(0);
  }
}

.content {
  font-weight: 900;
  color: white;
  margin: 0.5rem 3rem;
}

.nav {
  font-weight: 700;
  margin: 1.6rem;
}

.nav a {
  padding: 0.7rem 2.4rem;
  margin: 1rem 1rem;
  border: 2px solid black;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  background-color: #000000;
  color: white;
  transition: all 0.4s ease-in-out;
}

#slide-1 {
  background-color: rgb(129, 188, 202);
}
#slide-2 {
  background-color: rgb(200, 143, 206);
}
#slide-3 {
  background-color: rgb(196, 202, 129);
}
#slide-4 {
  background-color: rgb(202, 152, 129);
}
